.conteudo {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn {
  width: 30%;
  padding: 10px;
  font-size: 14pt;
  border-radius: 4px;
  border: none;
  background: #008000;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 500px) {
  .conteudo {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 90%;
  }
}
